<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projectv1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectV1">
        <activity android:name=".ColaboradoresTarea"></activity>
        <activity android:name=".NuevaTarea" />
        <activity android:name=".Habitos" />
        <activity android:name=".FrecuenciaHabito" />
        <activity android:name=".DefinirHabito" />
        <activity android:name=".CuandoQuieresHacerlo" />
        <activity android:name=".categoriasTarea" />
        <activity android:name=".categoriasHabitos" />
        <activity android:name=".Inicio" />
        <activity android:name=".RegistrarUsuario" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>